In [ ]:
# import pandas

import pandas as pd

In [ ]:
# read the data from the csv file
df = pd.read_csv("/content/records2.csv")

In [ ]:
# display 1st 5 rows of the data

df.head()

   studentID  yearJoined title  ...         city       state country
0          1        1998   Ms.  ...      Siberia      Russia  Russia
1          2        1992   Ms.  ...      Phoenix     Arizona     USA
2          3        2000   Ms.  ...       Kisumu       Kenya   Kenya
3          7        1999   Ms.  ...       Keller       Texas     USA
4          4        2020   Mr.  ...  Los Angeles  California     USA

[5 rows x 11 columns]

In [ ]:
#tes
df.describe

<bound method NDFrame.describe of    studentID  yearJoined title  ...          city       state country
0          1        1998   Ms.  ...       Siberia      Russia  Russia
1          2        1992   Ms.  ...       Phoenix     Arizona     USA
2          3        2000   Ms.  ...        Kisumu       Kenya   Kenya
3          7        1999   Ms.  ...        Keller       Texas     USA
4          4        2020   Mr.  ...   Los Angeles  California     USA
5          5        2021   Ms.  ...       Atlanta      Geogia     USA
6          6        2020   Mr.  ...  Dos Congoles       Texas     USA

[7 rows x 11 columns]>

In [ ]:
# create dbase & table schema

import sqlite3
connection = sqlite3.connect("pystudents.db")
cur = connection.cursor()

sql = """
      CREATE TABLE StudentsTable (
            studentID TEXT,
            yearJoined INTEGER,
            Title TEXT,
            first_Name TEXT,
            last_Name TEXT,
            class TEXT,
            phone_Number TEXT,
            Email_addre TEXT,
            City TEXT,
            state TEXT, 
            Country TEXT,
            primary key(studentID)
            )"""
cur.execute(sql)
print("Python students Table has been created.")

connection.commit() # save to the Database
connection.close()

Python students Table has been created.

In [ ]:
import sqlite3, csv 

connection = sqlite3.connect("pystudents.db") 
cursor = connection.cursor()

with open('records2.csv', 'r') as file:
      no_records = 0
      for row in file:
          cursor.execute("INSERT INTO StudentsTable VALUES (?,?,?,?,?,?,?,?,?,?,?)", row.split(","))
          connection.commit()
          no_records += 1
connection.close()
print('\n{} Records Transfered'.format(no_records))

8 Records Transfered

In [1]:
readme.md

NameError: ignored